@model List<Note>;
@{
    ViewData["Title"] = "Progress";
}

<div class="text-center">
    <h1>You are Healing!</h1>
</div>

<div class="container">

    @foreach (Note note in Model)
    {
        <div class="card">
            <div class="card-header">
                <code>@note.DateString</code>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p class="lead">Anxiety: <code>@note.Anxiety</code>,
                    Uneasyness: <code>@note.Uneasyness</code>,
                    Heavyness: <code>@note.Heavyness</code></p>
                    <p class="lead">Happiness: <code>@note.Happyness</code>,
                    Excitement: <code>@note.Excitement</code></p>
                    <p class="lead">Expression: @note.Expression</p>
                    <footer class="blockquote-footer"><cite title="Source Title">You are going to heal! You are making progress!</cite></footer>
                </blockquote>
            </div>
        </div>
        <br />
    }
</div>
